  body {
  /* font-family: 'Courier New', Courier, monospace; */
  min-height: 100vh;
  margin: 0px;
  font-size: 40px;
  font-family: sans-serif;
  
  @media screen and (max-width:1025px) {
    flex-direction: column;
    font-size: 20px;
    display: inline-block;
 }  
  
}


#header-background {
  flex-flow: wrap;
  background-image: url(https://www.pyramidinternational.com//assets/uploaded/brands/2016/08/22/192879891832293.jpg);  
  height: 200px;
  padding-top: 100px;
  margin-bottom: 150px;
}

.toon-time-main{
  flex-shrink: initial;
  text-align: center;
  background-color: white;
  height: 0 auto;
  width: 0 auto;
}

.intro-to-new-game{
  font-size: 20px;
  text-align: center;
  height: 0 auto;
  width: 0 auto;
  justify-content: center;

}

#toon-time-header {
  display: flex;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  padding-top: 0;
  margin-bottom:  0px;
  text-align: center; 
  font-display: cente;
  font-size: 200px;
  justify-content: space-around;
  color: yellow;
  font-family: 'Schoolbell', cursive;
  
}
.new-game-1 {
  /* flex-shrink: ; */
  height: 0 auto;
  width: 300px;
}
.new-game-subtitles{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
 
}
.new-game-button {
  background-color: gold;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 50px;
  border: solid 3px black;
}

.highest-score {
    background-color: skyblue;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 50px;
    border: solid 3px black;
}
.highest-score:hover{
  cursor: pointer;
  box-shadow:0 0.4rem 1.4rem 0 white;
}

.new-game-button:hover{
    cursor: pointer;
    box-shadow:0 0.4rem 1.4rem 0 white;
}

.new-game-pics {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 20px;
  justify-content: center;
  border-radius: 6px;
  width: 60%;
  margin: 50px auto;
  margin-left: 250px;
  margin-right: 250px;
  background-color: rgb(0, 120, 118);
  display: inline-block;
  border: solid 6px yellow;
}

.footer{
  box-sizing: border-box;
  padding: 50px; 
  font-size: 20px; 
  text-align: center;
}

html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* HTML CSSResult Skip Results Iframe
EDIT ON */
.rainbow-letters {
  display: flex;
  
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  justify-items: center;
  align-items: center;
  
}

.rainbow-letters span:nth-child(10n + 1) {
  color: #ef5350;
}

.rainbow-letters span:nth-child(10n + 2) {
  color: #ab47bc;
}

.rainbow-letters span:nth-child(10n + 3){
  color: #651fff;
}

.rainbow-letters span:nth-child(10n + 5){
  color: #3949ab;
}

.rainbow-letters span:nth-child(10n + 4) {
  color: #2196f3;
}

.rainbow-letters span:nth-child(10n + 6){
  color: #00bcd4;
}

.rainbow-letters span:nth-child(10n + 7){
  color: #4caf50;
}

.rainbow-letters span:nth-child(10n + 8){
  color: #ffc107;
}


/*FlexBox*/
/* body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
}

#header-background {
  display: flex;
  width: 100%;
}

header,footer {
  flex-basis: 100px;
}

.right {
  order: 2;
} */