body {
  /* font-family: 'Courier New', Courier, monospace; */
  margin: 0px
}

#header-background {
  flex-flow: wrap;
  background-image: url(https://www.pyramidinternational.com//assets/uploaded/brands/2016/08/22/192879891832293.jpg);  
  height: 200px;
  padding-top: 100px;
  margin-bottom: 150px;
}

.toon-time-main{
  flex-shrink: initial;
  text-align: center;
  background-color: white;
 
  
  height: 0 auto;
  width: 0 auto;
  /* justify-content: center; */
  
}

.intro-to-new-game{
  font-size: 20px;
  text-align: center;
  height: 0 auto;
  width: 0 auto;
  justify-content: center;

}

.new-game-1 {
  flex-shrink: ;
  height: 0 auto;
  width: 300px;
}

.new-game-button {
  background-color: gold;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 50px;
}

.highest-score {
    background-color: skyblue;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 50px;
}

.new-game-pics {
  text-align: center;
  padding: 20px;
  justify-content: center;
  border-radius: 6px;
  width: 60%;
  margin: 50px auto;
  margin-left: 250px;
  margin-right: 250px;
  background-color: brown;
  display: inline-block;
}

#toon-time-header {
  
  background-image: url("https://media.gettyimages.com/photos/explosion-blank-pop-art-speech-bubble-isolated-on-white-picture-id841438710?b=1&k=6&m=841438710&s=170667a&w=0&h=m1tjDBv3SJZCR-wI4n18Boham-lafeCy0jRSMrdSa-Y=");
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  padding-top: 0;
  margin-bottom:  0px;
  text-align: center; 
  font-display: cente;
  font-size: 150px;
  justify-content: space-around;
  
}

.new-game-subtitles{
  text-align: center;
  font-size: 30px;
}

